.top-bar {
  $title-size: 1rem;
  $menu-button-padding: 1rem;
  $menu-button-width: 1.5rem;

  z-index: 10;
  position: fixed;
  width: 100%;
  background-color: $bg-color-2;
  color: $font-color-2;
  text-align: center;
  display: flex;
  align-items: center;
  height: $top-bar-height;
  box-shadow: 0 2px 4px 3px grey;

  .title-div {
    h1 {
      font-size: $title-size;

      a {
        color: $font-color-2;
        text-decoration: none;
      }
    }

    width: 100%;
  }

  .menu-button-div {
    position: absolute;
    right: 0;
    padding: 0 $menu-button-padding;

    .menu-button {
      width: $menu-button-width;
      height: $title-size;

      div {
        background-color: $font-color-2;
      }
    }
  }
}
