.board {
  $td-side-margin: .5rem;

  h1 {
    margin-bottom: .5rem;
  }

  table {
    width: 100%;
    border-top: 1px solid $font-color-3;
    border-collapse: collapse;
    margin-bottom: 2rem;
    table-layout: fixed; // Need for ellipsis (white-space: nowrap)
  }

  th, td {
    border-bottom: 1px solid $font-color-3;
    padding: 0 $td-side-margin;
  }

  th {
    text-align: center;
    background-color: $bg-color-6;
    line-height: 1.5rem;
  }

  td {
    line-height: 2rem;
  }

  .tbody-tr td {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    word-break: break-all;
  }

  .tbody-tr, .tfoot-tr {
    cursor: pointer;

    &:hover {
      background-color: $bg-color-6;
    }

    &:active {
      color: red;
    }
  }

  .tfoot-tr td {
    text-align: center;
    padding: $td-side-margin;
  }

  .index-td {
    width: 2rem;
  }

  td.index-td {
    text-align: center;
  }

  .job-group-td {
    width: 8rem;
  }

  td.job-group-td {
    text-align: center;
  }

  td.title-td {
    text-align: left;
  }

  .category-td {
    width: 10rem;
  }

  td.category-td {
    text-align: left;
  }

  @media (max-width: $tablet-width - 1) {
    table {
      border: none;

      td {
        display: block;
        border: 1px solid $bg-color-1;
      }

      thead {
        display: none;
      }

      tbody {
        td {
          text-align: left !important;
          width: calc(100% - #{$td-side-margin}) !important;
          padding-left: 0;

          &:before {
            content: attr(thdata);
            width: 4rem;
            margin-right: .5rem;
            display: inline-block;
            font-weight: bold;
            border-right: 1px solid $bg-color-1;
            text-align: center;
          }
        }

        tr:nth-child(even) {
          background-color: $bg-color-4;
        }

        tr:nth-child(odd) {
          background-color: $bg-color-6;
        }
      }

      .tfoot-tr td {
        background-color: $bg-color-7;
        color: $font-color-2;
      }
    }
  }
}
