$bg-color-1: #fff;
$bg-color-2: #006a8f;
$bg-color-3: #000;
$font-color-1: #000;
$font-color-2: #fff;

html, body {
  margin: 0;
  padding: 0;
  background-color: $bg-color-1;
  color: $font-color-1;
  overflow-x: hidden;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

p {
  margin: 0;
}
