.menu {
  $menu-width: 220px;
  $shadow-length: 3px;
  $menu-padding: 1rem;

  z-index: 10;
  position: fixed;
  background-color: $bg-color-4;
  top: $top-bar-height;
  height: calc(100% - #{$top-bar-height});
  width: $menu-width;
  padding: 1rem;
  box-shadow: 0 3px $shadow-length $shadow-length grey;
  transition: .2s;

  &.opened {
    left: calc(100% - #{$menu-width} - 2 * #{$menu-padding});
  }

  &.closed {
    left: calc(100% + 2 * #{$shadow-length});
  }

  .title-section {
    text-align: center;
    margin: .5rem 0;
  }

  .button-section {
    text-align: center;
    margin: 1.5rem 0;
  }

  @media (max-width: $tablet-width - 1) {
    $menu-side-padding: 3rem;
    $menu-height: 16rem;
    z-index: 9;
    padding: $menu-padding $menu-side-padding 3 * $menu-padding $menu-side-padding;
    width: calc(100% - #{$menu-side-padding} * 2);
    height: $menu-height;

    &.opened {
      left: 0;
      top: $top-bar-height;
    }
    &.closed {
      left: 0;
      top: calc(-#{$top-bar-height} - #{$menu-height} - 2 * #{$shadow-length});
    }
  }
}
