.auto-complete-input {
  $menu-padding: 1rem;
  $border-radius-size: 1rem;

  .auto-complete-list-div {
    position: absolute;
    background-color: $bg-color-1;
    width: calc(100% - 2 * #{$menu-padding} - #{$border-radius-size});
    margin: 0 #{$border-radius-size / 2};
    border: .5px grey solid;
    border-top: none;
  }
  p {
    padding: 0 .3rem;

    &.focused {
      background-color: $bg-color-2;
      color: $font-color-2;
    }
    &.defocused {
      background-color: $bg-color-1;
      color: $font-color-1;
    }
  }
}